<!DOCTYPE HTML>
<html>

<head>
   <title>GazeCloudAPI</title>



   <script src="https://api.gazerecorder.com/GazeCloudAPI.js"></script>
   <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
   <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"> </script>

   <style type="text/css">
      body {
         overflow: hidden;
      }
   </style>
   <script type="text/javascript">

      function scrolling() {
         console.log("triggered")
         html2canvas(document.body).then(function (canvas) {
            console.log(canvas.toDataURL())
         })
      }
      window.onload = function(){
         
      }
      

      function PlotGaze(GazeData) {

         /*
            GazeData.state // 0: valid gaze data; -1 : face tracking lost, 1 : gaze uncalibrated
            GazeData.docX // gaze x in document coordinates
            GazeData.docY // gaze y in document cordinates
            GazeData.time // timestamp
         */


         //  document.getElementById("GazeData").innerHTML = "GazeX: " + GazeData.GazeX + " GazeY: " + GazeData.GazeY;
         //  document.getElementById("HeadPhoseData").innerHTML = " HeadX: " + GazeData.HeadX + " HeadY: " + GazeData.HeadY + " HeadZ: " + GazeData.HeadZ;
         //  document.getElementById("HeadRotData").innerHTML = " Yaw: " + GazeData.HeadYaw + " Pitch: " + GazeData.HeadPitch + " Roll: " + GazeData.HeadRoll;
         
         var div = document.getElementsByTagName("embed")[0];
         div.onscroll = function(e) {
            console.log("Scrolling");
         }
         div.onclick = function(e) {
            console.log("wheel")
         }
         div.onload = function(e) {
            console.log("inside")
         }  
         console.log("welcome")
         var x = GazeData.docX;
         var y = GazeData.docY;

         var gaze = document.getElementById("gaze");
         x -= gaze.clientWidth / 2;
         y -= gaze.clientHeight / 2;



         gaze.style.left = x + "px";
         gaze.style.top = y + "px";


         if (GazeData.state != 0) {
            if (gaze.style.display == 'block')
               gaze.style.display = 'none';
         }
         else {
            if (gaze.style.display == 'none')
               gaze.style.display = 'block';
         }


         html2canvas(document.body).then(function (canvas) {
            var data = {};
            data.title = "title";
            data.timestamp = Date.now()
            data.message = "message";
            data.gazeX = GazeData.GazeX;
            data.gazeY = GazeData.GazeY;
            data.image = canvas.toDataURL()
            //console.log(data)
            $.ajax({
               type: 'POST',
               data: JSON.stringify(data),
               contentType: 'application/json',
               url: 'http://localhost:3000/',
               // success: function (data) {
               //    console.log('success');
               // }
            });

         });


      }


      //////set callbacks/////////
      GazeCloudAPI.UseClickRecalibration = false
      //rGazeCloudAPI.OnCalibrationComplete =function(){ console.log('gaze Calibration Complete')  }
      GazeCloudAPI.CalibrationType = 1
      GazeCloudAPI.OnCamDenied = function () { console.log('camera  access denied') }
      GazeCloudAPI.OnError = function (msg) { console.log('err: ' + msg) }
      GazeCloudAPI.OnResult = PlotGaze;


   </script>
</head>

<body>
   <div class="center">
   <button type="button" onclick="GazeCloudAPI.StartEyeTracking();">Start</button>
   <button type="button" onclick="GazeCloudAPI.StopEyeTracking();">Stop</button>
   </div>
   <!-- <div >
         <p >  
            Real-Time Result:
         <p id = "GazeData" > </p>
         <p id = "HeadPhoseData" > </p>
         <p id = "HeadRotData" > </p>
         </p>
      </div> -->
   <embed id="myEmbed " src="https://www.wikipedia.org/" width="100%" height="100%">
   <div id="gaze"
      style='position: absolute;display:none;width: 100px;height: 100px;border-radius: 50%;border: solid 2px  rgba(255, 255,255, .2);	box-shadow: 0 0 100px 3px rgba(125, 125,125, .5);	pointer-events: none;	z-index: 999999'>
   </div>

</body>

</html>