<!DOCTYPE HTML>
<html>

<head>
   <title>GazeCloudAPI</title>



   <script src="https://api.gazerecorder.com/GazeCloudAPI.js"></script>
   <script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
   <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"> </script>

   <style type="text/css">
      body {
         overflow: hidden;
      }
   </style>
   <script type="text/javascript">

      var snapshot;
      var isImage = false;
      var x = 0;
      var y = 0;

      function PlotGaze(GazeData) {
         var x = GazeData.docX;
         var y = GazeData.docY;

         var gaze = document.getElementById("gaze");
         x -= gaze.clientWidth / 2;
         y -= gaze.clientHeight / 2;



         gaze.style.left = x + "px";
         gaze.style.top = y + "px";


         if (GazeData.state != 0) {
            if (gaze.style.display == 'block')
               gaze.style.display = 'none';
         }
         else {
            if (gaze.style.display == 'none')
               gaze.style.display = 'block';
         }


         html2canvas(document.body).then(function (canvas) {
            var data = {};
            data.title = "title";
            data.timestamp = Date.now()
            data.message = "message";
            data.gazeX = GazeData.GazeX;
            data.gazeY = GazeData.GazeY;
            //data.image = canvas.toDataURL()
            //console.log(data)
            $.ajax({
               type: 'POST',
               data: JSON.stringify(data),
               contentType: 'application/json',
               url: 'http://localhost:3000/',
               // success: function (data) {
               //    console.log('success');
               // }
            });

         });


      }

      function getSnapshot() {
         html2canvas(document.body, {
            onrendered: function (canvas) {
               console.log("snapped")
               console.log(canvas.toDataURL())
            }
         });
      }
      //////set callbacks/////////
      GazeCloudAPI.UseClickRecalibration = false
      //rGazeCloudAPI.OnCalibrationComplete =function(){ console.log('gaze Calibration Complete')  }
      GazeCloudAPI.CalibrationType = 1
      GazeCloudAPI.OnCamDenied = function () { console.log('camera  access denied') }
      GazeCloudAPI.OnError = function (msg) { console.log('err: ' + msg) }
      GazeCloudAPI.OnResult = PlotGaze;





   </script>
</head>

<body>
   <div>
      <button type="button" onclick="GazeCloudAPI.StartEyeTracking();">Start</button>
      <button type="button" onclick="GazeCloudAPI.StopEyeTracking();">Stop</button>
      <form id="mysearch" action="http://localhost:4000/temp">
         <input type="text" value="" id="SearchInput" name="search" />
         <input type="submit" value="Go">
      </form>
   </div>


   <iframe id="myEmbed" src="http://localhost:4000/json_placeholder/w/index.php?action=render&title=<%= myVar %>" style="overflow: hidden; height: 100%;
         width: 100%; position: absolute;"></iframe>


   <div id="gaze"
      style='position: absolute;display:none;width: 100px;height: 100px;border-radius: 50%;border: solid 2px  rgba(255, 255,255, .2);	box-shadow: 0 0 100px 3px rgba(125, 125,125, .5);	pointer-events: none;	z-index: 999999'>
   </div>



   <script>
      document.getElementById('myEmbed').onload = function () {

         console.log('loaded')
         var frm = document.getElementById("myEmbed");
         frm = frm.contentWindow;
         console.log(frm)
         let link = document.createElement("link");
         link.href = "load.php?debug=false&lang=en&modules=mediawiki.legacy.commonPrint,shared|skins.vector.styles&only=styles&skin=vector&*";      /**** your CSS file ****/
         link.rel = "stylesheet";
         //link.type = "text/javascript"; 
         document.getElementById("myEmbed").contentDocument.head.appendChild(link)

         let link1 = document.createElement("link");
         link1.href = "http://localhost:4000/stylesheets/wiki.css";      /**** your CSS file ****/
         link1.rel = "stylesheet";
         link1.type = "text/css";
         document.getElementById("myEmbed").contentDocument.head.appendChild(link1)

         let link2 = document.createElement("link");
         link2.href = "http://localhost:4000/javascripts/load.php";      /**** your CSS file ****/
         link2.rel = "stylesheet";
         link2.type = "text/javascript";
         document.getElementById("myEmbed").contentDocument.head.appendChild(link2)

         frm.onclick = function (e) {
            e.preventDefault();
            console.log('target:', e.target.getAttribute('href'));
            var temp = e.target.getAttribute('href');
            var key_word = temp.replace("//en.wikipedia.org/wiki/", "");
            console.log(key_word);
            document.getElementById('myEmbed').src = "http://localhost:4000/json_placeholder/w/index.php?action=render&title=" + key_word;
         }

         var timer = null;
         frm.onscroll = function () {
            if (timer !== null) {
               clearTimeout(timer);
            }
            timer = setTimeout(function () {
               console.log('screenshot snapped')

               getSnapshot()
               console.log(snapshot)
            }, 4000)

         }
      }
//}
   </script>

</body>

</html>